/* Variables */
:root {
    --main-color: rgb(36, 36, 36);
    --contrast-color: rgb(191, 15, 60);
    --font-sans-serif: Helvetica, Arial, sans-serif;
    --font-serif: Georgia, 'Times New Roman', serif;
}

/* General */
html {
    font-size: 16px;
}
  
body {
    font-family: var(--font-sans-serif);
    color: var(--main-color);
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

/* Classes */
.container {
    width: 95%;
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
}

/* Header Page */
header {
    margin-top: 30px;
}

header img {
    display: block;
    margin: auto;
}

/* Main Page */
main {
    font-family: var(--font-serif);
}

main p {
    font-size: 1.1rem;
}

main img {
    max-width: 100%;
    height: auto; 
    margin: 20px auto;
}

/* Titles */
h1, h2, h3 {
    font-family: var(--font-sans-serif);
    line-height: normal;
}

h1 {
    font-size: 3.5rem;
    text-align: center;
}

h2{
    font-size: 2.5rem;
}

/* Abbreviatures */
abbr {
    text-decoration: none;
}

/* Lists */
ol {
    font-size: 1.8rem;
    margin: 10px;
}
ul {
    list-style-type: square;
    margin: 10px auto;
}

ol > li > ul {
    margin-left: 10px;
    font-size: 1.1rem;
}

ol > li > ul > li {
    margin: 10px auto;
}

/* Article */
article {
    margin: 20px auto;
}

article > header {
    text-align: center;
}

article > header > p {
    font-size: x-large;
    margin-top: 60px;
}

article > header > h1 {
    margin: 0px auto;
}

section > blockquote > p{
    border: 1px solid black;
    border-left: 10px solid black;
    padding: 20px;
    color: var(--contrast-color);
    font-weight: bold;
    font-size: x-large;
}

article > footer {
    margin: 30px auto;
}

article > footer > p {
    font-size: 0.9rem;
}

/* Navigation */
nav{
    text-align: center;
    margin-bottom: 65px;
}

nav ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
    text-transform: uppercase;
    font-weight: bold;
}

nav ul li a {
    color: var(--main-color);
    text-decoration: none;
}

nav ul li a:hover,
nav ul li a.current {
    color: var(--contrast-color);
}

/* Description List */
dl > dt {
    font-family: var(--font-sans-serif);
    font-size: 1.75rem;
    font-weight: bold;
}

dl > dd {
    border-left: 1px solid black;
    padding-left: 16px;
    margin-left: 0;
    margin-bottom: 25px;
}

dl > dd > p {
    margin-top: 5px;
}

/* Figures */
figure {
    margin: 0;
}

figure > figcaption {
    font-size: 0.7rem;
    text-align: center;
    margin: 10px auto;
}

/* Footer Page */
footer {
    font-family: var(--font-sans-serif);
    font-size:small;
    margin-top: 60px;
}

body > footer {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 20px 0;
}

footer .container {
    text-align: center;
    line-height: normal;
}

/* Links */
a {
    color: var(--contrast-color);
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

/* External links */
a[href*="http"] {
    background: url('../img/external-link.svg') no-repeat 100% 0;
    background-size: 16px 16px;
    background-position: top right;
    padding-right: 19px;
    display: inline-block;
}

/* Iframe for YouTube Video */
.iframe-container {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    border: none;
}

/* Signature Article */
article .signature {
    font-family: var(--font-sans-serif);
    font-size:small;
    text-transform: uppercase;
    margin: 10px auto;
}