/* Variables */
:root {
    --main-color: rgb(36, 36, 36);
    --contrast-color: rgb(191, 15, 60);
}

/* General */
html {
    font-size: 16px;
}
  
body {
    font-family: Helvetica, Arial, sans-serif;
    color: var(--main-color);
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

/* Classes */
.container {
    width: 95%;
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
}

/* Header */
header {
   /* position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Asegura que el encabezado esté por encima de otros elementos */

    margin: 30px auto;
}

header img {
    display: block;
    margin: 10px auto;
}

/* Main */
main {
    font-family: Georgia, 'Times New Roman', serif;
}

main p {
    font-size: 1.1rem;
}

main img {
    max-width: 100%;
    height: auto; 
}

/* Titles */
h1, h2, h3 {
    font-family: Helvetica, Arial, sans-serif;
    line-height: normal;
}

h1 {
    font-size: 3.5rem;
    text-align: center;
}

h2{
    font-size: 2.5rem;
}

/* Abbreviatures */
abbr {
    text-decoration: none;
}

/* Lists */
ul {
    list-style-type: square;
}

/* Article */
article {
    margin: 20px auto;
}

article img {
    margin-bottom: 20px;
}

article > header {
    text-align: center;
    margin-top: 60px;
}

article > header > h1 {
    margin: 0px auto;
}

.signature {
    font-family: Helvetica, Arial, sans-serif;
    font-size:small;
    text-transform: uppercase;
}

section > blockquote > p{
    border: 1px solid black; /* Línea izquierda más gruesa de color negro */
    border-left: 10px solid black; /* Línea izquierda más gruesa de color negro */
    padding: 20px; /* Espacio interno a la izquierda del bloquequote */
    color: var(--contrast-color);
    font-weight: bold;
    font-size: x-large;
}

article > footer {
    margin: 30px auto;
}

article > footer > p{
    font-size: 0.9rem;
}

/* Navigation */
nav{
    text-align: center;
}

nav ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
    text-transform: uppercase;
    font-weight: bold;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: var(--main-color);
    text-decoration: none;
}

nav ul li a:hover,
nav ul li a.current {
    color: var(--contrast-color);
}

dl > dt {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.75rem;
    font-weight: bold;
}

dl > dd {
    border-left: 1px solid black; /* Línea izquierda más gruesa de color negro */
    padding-left: 16px; /* Agrega un espacio entre la línea y el texto */
    margin-left: 0; /* Asegura que no haya margen adicional en la izquierda */
    margin-bottom: 25px;
    /*margin-top: 0.5em;
    margin-bottom: 1.5em;*/
}

dl > dd > p {
    margin-top: 5px;
}

/* Footer */
footer {
    font-family: Helvetica, Arial, sans-serif;
    font-size:small;
    margin-top: 60px;
    /*
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Asegura que el pie de página esté por encima de otros elementos */

}

body > footer {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 20px 0;
}

footer .container {
    text-align: center;
    line-height: normal;
}

/* Links */
a {
    color: var(--contrast-color);
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

/* External links */
a[href*="http"] {
    background: url('../img/external-link.svg') no-repeat 100% 0;
    background-size: 16px 16px;
    background-position: top right;
    padding-right: 19px;
    display: inline-block;
}

.iframe-container {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    border: none;
}